/* Destop */
@media screen and (max-width: 2400px){
    body {
        background-color: aquamarine;
    }
    .title {
        height:1em;
        width: 1em;
        border: solid rgb(53, 241, 53);
        margin: 5px;
    }

    .hTitle{
        color: darkblue;
        display: contents;
    }

    .hShowTitle{
        display: none;
    }

    .skyTitle{
        display: none;
    }

    .halo{
        display: contents;
    }

    .huntSD{
        display: none;
    }
    
    .skyrim{
        display: none;
    }
}

/* Tablet */
@media screen and (max-width: 1600px){
    body {
        background-color: rgb(245, 245, 107);
    }

    .title {
        height:1em;
        width: 1em;
        border: solid;
        margin: 5px;
    }

    .hTitle{
        display: none;
    }

    .hShowTitle{
        color: brown;
        display: contents;
    }

    .skyTitle{
        display: none;
    }

    .halo{
        display: none;
    }

    .huntSD{
        display: contents;
    }
    .skyrim{
        display: none
    }
}

/* mobile */
@media screen and (max-width: 900px){
    body {
        background-color: rgb(109, 8, 241);
    }
    .title {
        height:1em;
        width: 1em;
        border: solid;
        margin: 5px;
    }

    .hTitle{
        display: none;
    }

    .hShowTitle{
        display: none;
    }

    .skyTitle{
        color:goldenrod;
        display: contents;
    }

    .halo{
        display: none;
    }

    .huntSD{
        display: none;
    }

    .skyrim{
        display: contents;
    }

    

}

.game{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


img{
    height: fit-content;
    width: fit-content;
}

